.pomodoro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .progress-circle {
    width: 100px;
    height: 100px;
    
}

  
  .progress-circle svg {
    width: 100%;
    height: 100%;
  }
  
  .progress-circle circle {
    fill: transparent;
    stroke: #e6e6e6;
    stroke-width: 8;
  }
  
  .progress-circle circle:last-child {
    stroke: #00cc66;
  }
  
  .progress-indicator {
    fill: #00cc66;
    transform-origin: center;
    transition: transform s linear;
  }
  
  .progress-indicator.animate {
    animation: moveIndicator 60s linear infinite;
  }
  
  @keyframes moveIndicator {
    from {
      transform: rotate(-90deg);
    }
    to {
      transform: rotate(90deg);
    }
  }
  